h1 {
  font-family: 'Comfortaa', cursive;
  margin-top: 10px;
  font-size: 40px;
}

.header-buttons {
  font-size: 30px;
  font-family: 'Comfortaa', cursive;
  margin-left: 100px;
}

.button-width {
  margin: 30px;
}

.demonstration {
  width: 800px;
  height: 500px;
  margin: auto;
  margin-top: 220px;
  background-color: white;
}

.type-it {
  color: green;
}

.carousel-caption {
  margin-bottom: 140px;
  width: 500px;
  font-size: 27px;
  margin-left: 250px;
}

.mySelector {
  text-align: center;
}

.jamespic {
  width: 60%;
}
